name: CI - Branch Loan API

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-test-scan-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/branch-loan-api

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests (if any)
        run: |
          if [ -d "tests" ]; then
            pytest
          else
            echo "No tests directory found, skipping tests"
          fi

      - name: Log in to GHCR
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME_LC=$(echo "${IMAGE_NAME}" | tr '[:upper:]' '[:lower:]')
          docker build -t ${IMAGE_NAME_LC}:${{ github.sha }} .

      - name: Scan image for vulnerabilities
        run: |
          IMAGE_NAME_LC=$(echo "ghcr.io/${{ github.repository_owner }}/branch-loan-api" | tr '[:upper:]' '[:lower:]')
          trivy image --severity CRITICAL --exit-code 1 ${IMAGE_NAME_LC}:${{ github.sha }}

      - name: Push Docker image
        if: github.event_name == 'push'
        run: |
          IMAGE_NAME_LC=$(echo "${IMAGE_NAME}" | tr '[:upper:]' '[:lower:]')
          docker push ${IMAGE_NAME_LC}:${{ github.sha }}
